[submodule "admin.sso.back"]
	path = services/admin
	url = https://github.com/MoreWiktor/admin.sso.back
[submodule "auth.sso.back"]
	path = services/auth
	url = https://github.com/MoreWiktor/auth.sso.back
[submodule "auth.sso.front"]
	path = front/auth
	url = https://github.com/MoreWiktor/auth.sso.front
[submodule "sso.proto"]
	path = proto
	url = https://github.com/MoreWiktor/sso.proto
[submodule "auth.sso.api"]
	path = api-gateway/auth
	url = https://github.com/MoreWiktor/auth.sso.api
